<table>
  <% @fb_info.each do |info| %>
    <tr>
      <td><img src="<%= info[:picture] %>"></td>
      <td>S<input type="radio" name="type" value="single"id="<%= info[:id] %>"></td>
      <td>C<input type="radio" name="type" value="couple"id="<%= info[:id] %>"></td>
      <td>B<input type="radio" name="type" value="bad"id="<%= info[:id] %>"></td>
    </tr>
  <% end %>
</table>
