<div class="container">
  <h1>Welcome to Facebook Scraper!</h1>
  <p>Get Profile Pictures</p>
  <form action="/process" method="post">
    <input type="text" name="starting" id="starting" placeholder="Starting id (337800000)" value="337800000">
    <input type="text" name="scale" id="scale" placeholder="How many do you want?" value="10">
    <input type="submit">
  </form>
</div>
