<div class="container">
  <h1>Welcome to Facebook Scraper!</h1>
  <p>Get Profile Pictures</p>
  <form action="/get_pictures" method="post">
    <input type="text" name="starting" id="starting" value="337800000">
    <input type="submit">
  </form>
</div>
